@charset "UTF-8";
@import "~stylesheets/slick-theme.css";
@import "~stylesheets/slick.css";

#ajaxBusy,
.is-hidden {
    @include is-hidden();
}

html {
    box-sizing: border-box;

    * {
        box-sizing: inherit;
    }
}

body {
    overflow-x: hidden;
    background: #fff;
    font-family: Nunito, sans-serif !important;
    font-size: 62.5%;
    color: $color-first;
    @include font-smoothing();

    &:before {
        content: "";
        transition: all 0.3s ease-out;
        opacity: 0;
    }

    > object {
        position: absolute !important;
        bottom: -100% !important;
        left: -100% !important;
        display: none !important;
        width: 0 !important;
        height: 0 !important;
        visibility: hidden !important;
        &:hover,
        &:focus,
        &:active,
        &:visited {
            outline: none;
        }
    }

    &.panel-backdrop {
        &:before {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100vh;
            background: #000;
            content: "";
            opacity: 0.75;
            z-index: 999;
        }
    }
}

.container {
    position: relative;
    max-width: $max-width-container;
    min-width: $min-width-container;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;
    *zoom: 1;

    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }

    &:after {
        clear: both;
    }

    @media screen and (max-width: 980px) {
        padding: 0 16px;
    }
}

a {
    @extend %href-link;
}

button {
    cursor: pointer;

    svg {
        path {
            transition: all 0.2s ease;
        }
    }

    &:focus,
    &:visited,
    &:active {
        outline: none;
    }
}

label {
    display: initial;

    &:hover,
    &:focus,
    &:active,
    &:visited {
        outline: none;
    }
}

input,
button,
select {
    &:hover,
    &:focus,
    &:visited,
    &:active {
        outline: none !important;
    }
}

ul,
ol {
    list-style: none;
    margin: 0;

    &:hover,
    &:focus,
    &:visited,
    &:active {
        outline: none !important;
    }

    li {
        &:hover,
        &:focus,
        &:visited,
        &:active {
            outline: none !important;
        }
    }
}

img {
    vertical-align: middle;
    max-width: 100%;
    width: auto\9;
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
