$mobile-1100: 1100px;
$mobile-600: 600px;

@mixin mobile-1100 {
    @media (max-width: #{$mobile-1100}) {
        @content;
    }
}

@mixin mobile-600 {
    @media (max-width: #{$mobile-600}) {
        @content;
    }
}

main {
    p,
    a,
    span,
    ul,
    li {
        font-size: 1rem;
    }
    &.main-class {
        display: block;
        max-width: 1280px;
        margin: 59px auto 0px;
        border: 1px solid rgba(0, 0, 0, 0.06);
        border-bottom: 0px;
    }

    .sub-topo.shortcodes-section {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        min-height: 15vw;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
        padding: 2rem 3rem 5rem;
        max-width: 1280px;
        margin: 0 auto;

        &:last-child {
            box-shadow: none !important;
        }
    }

    .shortcodes-title h4 {
        color: #e11383;
        padding: 10px 0;
        display: inline-block;
        font-size: 1.5rem;
    }

    .caju-shelf {
        h2 {
            display: none;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin-top: 5rem;

            @include mobile-1100 {
                grid-template-columns: repeat(2, 1fr);
            }

            @include mobile-600 {
                grid-template-columns: repeat(1, 1fr);
            }

            li {
                text-align: center;
            }
        }
    }

    .shortcodes.department-navigator .menu-departamento {
        float: right;
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);

        h3 {
            font-family: Nunito, sans-serif;
            display: block;
            padding: 22px 18px;
            background: #fff;
            font-size: 16px;
            font-weight: 700;
            color: #828282;
            line-height: 1;

            a {
                color: #828282;
            }

            &:hover {
                color: #e11383;

                a {
                    color: #e11383;
                }
            }
        }

        .brandFilter {
            min-width: 210px;
            ul {
                height: 0;
                overflow-y: hidden;
                max-height: 220px;
                position: absolute;
                padding: 0 18px;
                transition: height 0.5s ease-out;
                background: #fff;
                border: 1px solid rgba(0, 0, 0, 0.06);
                border-top: none;
            }

            &:hover ul {
                height: 100%;
            }
        }
    }

    fieldset.busca {
        border-radius: 5px;
        padding: 10px 15px;
    }

    fieldset.busca > legend {
        display: none;
    }

    fieldset.busca > label {
        display: none;
    }

    .fulltext-search-box.ui-autocomplete-input {
        color: #999;
    }

    .btn-buscar {
        border: 2px solid transparent;
        border-radius: 5px;
        padding: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        transition: 0.4s all;
        cursor: pointer;
        background: linear-gradient(95.33deg, #f8485e 3.84%, #e11383 97.59%);
        border-color: #f8485e;
        color: #fff;

        &:hover {
            background: #fff;
            color: #f8485e;
        }
    }

    .fulltext-search-box {
        transition: 0.3s all !important;
        border-width: 2px !important;
    }

    .fulltext-search-box:focus {
        border-color: #ee316d !important;
        box-shadow: none !important;
    }

    .shortcodes.full-search-box {
        max-width: 335px;
    }
}
