$mobile-460: 460px;

@mixin mobile-460 {
    @media (max-width: #{$mobile-460}) {
        @content;
    }
}

.holder-carrinho {
    display: flex;

    @include mobile-460 {
        height: 100%;
    }

    .carrinho-itens {
        display: none;
    }
}

.carrinho-mini {
    height: 100%;
}

a.cart--icon-link {
    height: 100%;
    display: block;

    @include mobile-460 {
        position: absolute;
        right: 0;
        padding: 1rem;
    }
}

.minicart--svg {
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}

svg.minicart--icon {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;

    path {
        fill: #888;
        transition: 0.2s all;
    }
}

.cart--icon-link:hover svg.minicart--icon path {
    fill: #e11383;
}

.v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded {
    display: block !important;
    height: 100vh;
    position: absolute;
    background: #eee;
    top: 0;
    right: -100%;
    max-width: 320px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    z-index: 2;
    transition: all 0.7s ease-out;
    cursor: default;
}

.vtexsc-bt:after {
    content: "Minha Sacola";
    display: block;
    width: 100%;
    color: #fff;
    position: absolute;
    background: #512d6d;
    padding: 1rem;
    top: 0vh;
    cursor: pointer;
    text-align: center;
    font-size: 1.8rem;
    line-height: 3rem;
    z-index: 1;
}

.vtexsc-center {
    margin-top: 70px;
    position: relative;
}

.vtexsc-bb:after {
    content: "Continuar comprando";
    display: block;
    width: 100%;
    color: #fff;
    position: absolute;
    background: linear-gradient(95.33deg, #f8485e 3.84%, #e11383 97.59%);
    padding: 1rem;
    bottom: 0vh;
    cursor: pointer;
    text-align: center;
    font-size: 1.8rem;
    line-height: 5rem;
}

.is-active--minicart {
    right: 0 !important;
}

#backdrop-minicart {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    left: -100%;
    z-index: 1;
    transition: all 0.4s ease-out;
}

.is-active--backdrop {
    left: 0 !important;
}
